
body{
	background: #00ad74;
    color: white;
    font-family: 'Playfair Display', serif;
}
.title{
	text-align: center;
    border:3px dashed ;
    text-shadow: 2px 2px 2px black;
}
img{
	width: 500px;
    box-shadow:2px 2px 2px black;
}
.answers{
	font-family:'Playfair Display';
    color:white;
    text-decoration: underline ;
}

ul{
 list-style-type: square; 
}
.header{
     text-decoration: underline;   
    color: #fc5842; 
    text-shadow: 1px 1px 1px black;
}
a{
	color:black;   
    text-shadow:1px 1px 1px white;
}
ul{
text-shadow:1px 1px 1px black;
    background:#fc5842;
    border: 2px solid white;
    width:60%;
    box-shadow: 2px 2px 2px black;
}

p{
	text-shadow:1px 1px 1px black;
    border: 2px solid white;
    width:70%;
    box-shadow: 2px 2px 2px black;
    background:#fc5842;
}
marquee{
    font-size:20px;
    color:white;
}